<div class="row">
  <div class="col-12">
    <h3>Delivery Information</h3>
  </div>
  <div class="col-12">
    <div [formGroup]="formGroup" *ngIf="!isArrayForm">
      <div [formGroupName]="groupName">
        <div>
          <div>
            <label>Port</label>
            <input type="text" formControlName="port" name="port"/>
          </div>
          <label>Vessel</label>
          <input type="text" formControlName="vessel" name="vessel"/>
        </div>

        <div>
          <label>Imo</label>
          <input type="text" formControlName="imo" name="imo"/>
        </div>

        <div>
          <label>Flag</label>
          <input type="text" formControlName="flag" name="flag"/>
        </div>

        <div>
          <label>Master</label>
          <input type="text" formControlName="master" name="master"/>
        </div>

      </div>
    </div>

    <div class="row" [formGroup]="formGroup" *ngIf="isArrayForm">
      <div class="col-12" [formArrayName]="arrayName">
        <div class="row">
          <div class="col-4" *ngFor="let ship of formGroup.controls[arrayName].controls; let i=index">
            <div class="row">
              <div class="col-6">
                <h4>Ship {{ i + 1}}</h4>
              </div>
              <div class="col-6">
                <button mat-mini-fab color="warn" *ngIf="formGroup.controls[arrayName].controls.length > 1"
                        (click)="removeShip(i)"><fa-icon icon="minus"></fa-icon>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12" [formGroupName]="i">
                <div>
                  <mat-form-field>
                    <input [errorStateMatcher]="matcher" matInput placeholder="Port" type="text" formControlName="port" name="port"/>
                    <mat-error *ngIf="ship.controls['port'].touched && ship.controls['port'].errors?.required">
                      Ship {{ i +1}} Port is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field>
                    <input [errorStateMatcher]="matcher" matInput placeholder="Vessel" type="text" formControlName="vessel" name="vessel"/>
                    <mat-error *ngIf="ship.controls['vessel'].touched && ship.controls['vessel'].errors?.required">
                      Ship {{ i +1}} Vessel is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field>
                    <input [errorStateMatcher]="matcher"  matInput placeholder="Imo" type="text" formControlName="imo" name="imo"/>
                    <mat-error *ngIf="ship.controls['imo'].touched && ship.controls['imo'].errors?.required">
                      Ship {{ i +1}} Imo is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field>
                    <input [errorStateMatcher]="matcher" matInput placeholder="Flag" type="text" formControlName="flag" name="flag"/>
                    <mat-error *ngIf="ship.controls['flag'].touched && ship.controls['flag'].errors?.required">
                      Ship {{ i +1}} Flag is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field>
                    <input [errorStateMatcher]="matcher" matInput placeholder="Master" type="text" formControlName="master" name="master"/>
                    <mat-error *ngIf="ship.controls['master'].touched && ship.controls['master'].errors?.required">
                      Ship {{ i +1}} Master is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <button mat-stroked-button color="primary" (click)="addShip()">add ship</button>
      </div>
    </div>
  </div>
</div>

