<div class="card" style="width: 18rem;" *ngIf="contact?.id">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h6>Contact Info</h6>
        </div>
        <div class="col-6 text-right">
          <span data-toggle="modal" [attr.data-target]="'#editContactModal_'+contact.id"><fa-icon icon="pen"></fa-icon></span>
        </div>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Nom: {{contact?.name}}</p>
          <p>Email: {{ contact?.email }}</p>
          <p>PhoneNumber: {{ contact?.phoneNumber }}</p>
        </div>
      </div>
    </div>
  </div>
  <app-modal  [contentId]="'editContactModal_'+contact.id" [withFooter]="true" (modalSaved)="contactEditForm.edit('contacts')">
    <form class="form-horizontal" [formGroup]="contactEditForm.form">
      <app-contact [contact]="contact" [formGroup]="contactEditForm.form" [groupName]="'contacts'" ></app-contact>
    </form>
  </app-modal>
</div>





