<div class="card" style="width: 22rem;" *ngIf="contact?.id">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h6>Contact Info</h6>
        </div>
      </div>

    </div>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Nom: {{contact?.name}}</p>
          <p>Email: {{ contact?.email }}</p>
          <p>PhoneNumber: {{ contact?.phoneNumber }}</p>
          <p>Function: {{ contact?.contactFunction }}</p>
        </div>
      </div>
    </div>
  </div>
  <!--<app-modal  [contentId]="'editContactModal_'+contact.id" [withFooter]="true" (modalSaved)="updateContact()">
    <form class="form-horizontal" [formGroup]="contactEditForm.form">
      <app-contact [(contact)]="contact" [formGroup]="contactEditForm.form" [groupName]="'contacts'"></app-contact>
    </form>
  </app-modal>-->
</div>





