<div class="sidenav">
  <div class="login-main-text">
    <h2>Cosby<br> Bill Manager</h2>
    <p><a routerLink="/login" href="#">Login</a>,
      <a routerLink="/register" href="#">register</a> or
      <a routerLink="/reset-password" href="#">Reset Password</a>
      <br>from here to access the app</p>

  </div>
</div>
<div class="main">
  <div *ngIf="!showResetPasswordForm" class="col-6 col-12">
    <div class="login-form">
      <form *ngIf="!showRestMessage"[formGroup]="resetLoginForm">
        <div class="form-group">
          <mat-form-field>
            <input matInput formControlName="username" placeholder="Username">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
          </mat-form-field>
        </div>
        <button mat-flat-button color="warn" (click)="reset()">Reset password</button>
      </form>
      <div *ngIf="showRestMessage">
        <div class="alert alert-primary" role="alert">
          Your registration will be validated soon!
          When done you will receive an email to validate your access to the application.
        </div>
      </div>
    </div>
  </div>
  <div class="col-6" *ngIf="showResetPasswordForm">
    <div class="login-form">
      <form [formGroup]="resetPasswordForm">
        <div class="form-group">
          <mat-form-field>
            <input matInput formControlName="password" placeholder="password" type="password">
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field>
            <input matInput formControlName="confirmPassword" placeholder="Confirm Password" type="password">
          </mat-form-field>
        </div>
        <button mat-flat-button color="warn" (click)="save()">Reset password</button>
      </form>
    </div>
  </div>
</div>
