table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

table td button {
margin-right: 5px !important;
}


.product-button button {
  margin-left: 5px;
}
.view-header {
  margin-top: 5px;
}

mat-card {
  margin-top: 10px;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

:host ::ng-deep .mat-card-header-text {

  margin: unset;
}
