table td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

table td button {
margin-right: 5px !important;
}


.product-button button {
  margin-left: 5px;
}
.view-header {
  margin-top: 5px;
}

mat-card {
  margin-top: 10px;
}
