<script src="../../product/product.ts"></script>
<div class="row">
  <div class="col-12">
    <h2>Bills</h2>
  </div>
  <div class="col-12" *ngIf="customer$">
    <p>Bills for customer : <b>{{(customer$ |async)?.name}}</b> </p>
  </div>


    <div class="col-12" id="search">

      <form id="search-form" [formGroup]="billSearchForm">
        <div class="row align-items-center">

          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker7" placeholder="Bill created after" formControlName="billCreatedAfter" name="billCreatedAfter"/>
              <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
              <mat-datepicker #picker7></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker8" placeholder="Bill created before" formControlName="billCreatedBefore" name="billCreatedBefore"/>
              <mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
              <mat-datepicker #picker8></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker9" placeholder="Deadline after" formControlName="deadlineAfter" name="deadlineAfter"/>
              <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
              <mat-datepicker #picker9></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker10" placeholder="Deadline before" formControlName="deadlineBefore" name="deadlineBefore"/>
              <mat-datepicker-toggle matSuffix [for]="picker10"></mat-datepicker-toggle>
              <mat-datepicker #picker10></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker1" placeholder="Note created after" formControlName="noteCreatedAfter" name="noteCreatedAfter"/>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker2" placeholder="Note created before" formControlName="noteCreatedBefore" name="noteCreatedBefore"/>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker3" placeholder="PO created after" formControlName="poCreatedAfter" name="orderCreationDateFrom"/>
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker4" placeholder="PO created before" formControlName="poCreatedBefore" name="orderCreationDateTo"/>
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group col-3">
            <mat-form-field>
              <input matInput (keydown.enter)="findBills()" [matDatepicker]="picker5" placeholder="To be deliver after" formControlName="toBeDeliveredAfter" name="orderCreationDateFrom"/>
              <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
              <mat-datepicker #picker5></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group col-3">
            <mat-form-field>
              <input (keydown.enter)="findBills()" matInput [matDatepicker]="picker6" placeholder="To be deliver before" formControlName="toBeDeliveredBefore" name="orderCreationDateTo"/>
              <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
              <mat-datepicker #picker6></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="form-group col-3">
            <select formControlName="paymentMeans" data-filter="model" class="filter-model filter form-control">
              <option value="" [selected]="true">Payment Means</option>
              <option *ngFor="let payMean of paymentMethod" [value]="payMean.value">{{payMean.label}}</option>
            </select>
          </div>


          <div class="form-group col-3">
            <select formControlName="paymentStatus" data-filter="model" class="filter-model filter form-control">
              <option value="" [selected]="true">Payment Status</option>
              <option *ngFor="let payStatus of paymentStatus" [value]="payStatus.value">{{payStatus.label}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-3">
            <input (keydown.enter)="findBills()" class="form-control" formControlName="discount" type="text" placeholder="Discount value" />
          </div>

          <div class="form-group col-3">
            <input (keydown.enter)="findBills()" class="form-control" formControlName="noteIdCSV" type="text" placeholder="Note Id" />
          </div>
          <div class="form-group col-3">
            <input (keydown.enter)="findBills()" class="form-control" formControlName="purchaseOrderIdCSV" type="text" placeholder="PO Id" />
          </div>
          <div class="form-group col-3">
            <input (keydown.enter)="findBills()" class="form-control" formControlName="billId" type="text" placeholder="Bill Id" />
          </div>
          <div class="form-group col-9">
            <input (keydown.enter)="findBills()" class="form-control" formControlName="customerNameCSV" type="text" placeholder="Customer name" />
          </div>
          <div class="form-group col-3 ">
            <button type="button" class="btn btn-block btn-primary" (click)="findBills()"><fa-icon icon="search"></fa-icon></button>
          </div>
        </div>

      </form>

    </div>


  <div class="col-12">
    <table *ngIf=" billMatTable?.data?.length >0 " mat-table [dataSource]="billMatTable" class="mat-elevation-z8">
      <ng-container matColumnDef="bill">
        <th mat-header-cell *matHeaderCellDef> Bill </th>
        <td mat-cell *matCellDef="let bill"> {{bill.billId}} </td>
      </ng-container>
      <ng-container matColumnDef="po">
        <th mat-header-cell *matHeaderCellDef> PO </th>
        <td mat-cell *matCellDef="let bill"> {{bill.purchaseOrderId}} </td>
      </ng-container>
      <ng-container matColumnDef="deliveryNote">
        <th mat-header-cell *matHeaderCellDef> DN </th>
        <td mat-cell *matCellDef="let bill"> {{bill.deliveryNoteId}} </td>
      </ng-container>
      <ng-container matColumnDef="deadline">
        <th mat-header-cell *matHeaderCellDef> Deadline </th>
        <td mat-cell *matCellDef="let bill"> {{bill.deadLine | date}} </td>
      </ng-container>
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef> Discount </th>
        <td mat-cell *matCellDef="let bill"> {{bill.discount}} % </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let bill"> {{bill.creationDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let bill">
        <mat-select>
          <mat-option (click)="viewBill(bill.billId)">View</mat-option>
          <mat-option (click)="generateBill(bill.billId)">Generate Bill</mat-option>
          <mat-option (click)="createCreditNote(bill.billId)">Create Credit Note</mat-option>
          <mat-option (click)="viewCreditNotes(bill)" *ngIf="bill.initialBill.creditNotes?.length > 0">View Credit Notes</mat-option>
          <!--<button mat-stroked-button color="primary" (click)="viewBill(bill.billId)" class="mr-2 mb-2"><fa-icon icon="eye"></fa-icon></button>
          <button mat-stroked-button color="primary" (click)="generateBill(bill.billId)" class="mr-2 mb-2">Generate bill</button>
          <button mat-stroked-button color="primary" (click)="createCreditNote(bill.billId)" class="mr-2 mb-2">Create credit note</button>
          <button *ngIf="bill.initialBill.creditNotes?.length > 0" mat-stroked-button color="primary" (click)="viewCreditNotes(bill)" class="mr-2 mb-2">View credit notes</button>
-->
        </mat-select>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [length]="5000"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<sh-context-menu #billMenu>
  <ng-template shContextMenuItem (click)="viewBill($event.data.billId)">
    <div>View bill</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="generateBill($event.data.billId)">
    <div>Generate bill</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="sendBillByEmail($event.data.billId)">
    <div>Send bill by Email</div>
  </ng-template>
</sh-context-menu>
