<div class="card" style="width: 18rem;" *ngIf="address?.id">
  <div class="card-header">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h6>{{title}}</h6>
        </div>
        <div class="col-6 text-right">
          <span data-toggle="modal" [attr.data-target]="'#editAddressModal_'+address.id"><fa-icon icon="pen"></fa-icon></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <p>{{ address?.street }}</p>
    <p>
      <span *ngIf="address?.state">{{ address?.state }}, </span>
      <span>{{ address?.city }}, </span>
      <span>{{ address?.zipCode}}</span>
    </p>
    <p>{{ address?.country }}</p>

  </div>
  <app-modal  [contentId]="'editAddressModal_'+address.id" [withFooter]="true" (modalSaved)="updateAddress()">
    <form class="form-horizontal" [formGroup]="addressEditForm.form">
      <app-address [address]="address" [formGroup]="addressEditForm.form" [groupName]="'address'" ></app-address>
    </form>
  </app-modal>
</div>
