<h2>Add Order</h2>
<div>
  <p>You are going to generate a purchase order for customer: <b>{{(currentCustomer$ |async)?.name }}</b></p>
</div>
<div class="row">
  <div class="col-12">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" *ngIf="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6>Other info</h6>
          </mat-panel-title>
          <mat-panel-description>
            Enter other mandatory Infos
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <form [formGroup]="poSetupForm">
              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <input matInput formControlName="poNumber" placeholder="PO Number" type="text"
                           class="form-control input-md" required="">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <mat-select placeholder="Select the currency for this PO" formControlName="currency">
                      <mat-option *ngFor="let currency of (currencyList$| async)" [value]="currency">{{currency.label}} ({{currency.symbol}})</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <button *ngIf="poSetupForm.get('poNumber').value && poSetupForm.get('currency').value" (click)="addSetupToProduct()" mat-flat-button color="primary" type="button" matStepperNext>
                Next
              </button>
            </form>
            <form [formGroup]="deliveryAddressForm">
              <label> select delivery address</label>
              <div *ngFor="let information of customer.deliveryInformations">
                <input name="address" type="radio" [value]="information" formControlName="address">
                <p> {{information |json}}</p>
              </div>
            </form>
            <form [formGroup]="paymentInfoForm">
              <div>
                <label>select payment method</label>
                <mat-form-field>
                  <mat-select formControlName="payMeans">
                    <mat-option *ngFor="let payMean of paymentMeans" [value]="payMean.value">{{payMean.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <label>select payment status</label>
                <mat-form-field>
                  <mat-select formControlName="payStatus">
                    <mat-option *ngFor="let payStatus of paymentStatus" [value]="payStatus.value">{{payStatus.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h6>Products</h6>
          </mat-panel-title>
          <mat-panel-description>
            Select or Configure products here (cart contains {{cartService.items.length}} product<span *ngIf="cartService.items.length >1">s </span> )
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-12">
            <app-list-product [isOrderView]="true" [bindProducts]="getProducts()"></app-list-product>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-accordion>
  </div>
  <div class="col-12">
    <button mat-flat-button color="primary" type="button" (click)="createOrder()">
      create purchase order
    </button>
  </div>
</div>
