<div class="row">
  <div class="col-12">
    <h2>Generate bill</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <form [formGroup]="billForm">
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <input matInput placeholder="Payment DeadLine" [matDatepicker]="picker1" formControlName="deadLine">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12">
          <p>Would you like to apply a discount? <input formControlName="applyDiscount" type="checkbox"/></p>
        </div>
        <div class="col-12" *ngIf="billForm.get('applyDiscount').value">
          <mat-form-field>
            <input matInput placeholder="discount (%)" formControlName="discount" type="number" name="discount"/>
          </mat-form-field>
        </div>
        <div class="col-12">
          <button mat-flat-button color="primary" type="button" (click)="saveBill()">save bill</button>
        </div>
      </div>
    </form>
  </div>
</div>
