<div class="row">
  <div class="col-12">
    <h2>Purchase orders</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Customer name</th>
        <th>Order creation date</th>
        <th>Delivery information</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of ordersTableData$ | async" [shAttachMenu]="orderListMenu" [shMenuData]="order">
        <td>{{ order.customerName }}</td>
        <td>{{ order.orderCreationDate | date }}</td>
        <td>{{ order.deliveryInformation | json }}</td>
        <td class="text-center">
          <button mat-stroked-button color="primary" (click)="viewOrder(order.id)" class="mr-3 mb-1"><fa-icon icon="eye"></fa-icon></button>
          <button mat-stroked-button color="primary" (click)="createDeliveryNote(order.id, order.customerId)" class="mr-3 mb-1">Create delivery note</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<sh-context-menu #orderListMenu>
  <ng-template shContextMenuItem (click)="viewOrder($event.data.id)">
    <div>view purchase order details</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="createDeliveryNote($event.data.id, $event.data.customerId)">
    <div>Create delivery note</div>
  </ng-template>

</sh-context-menu>
