<div class="row">
  <div class="col-12">
    <h2>Purchase orders</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-12" id="search">

        <form id="search-form" [formGroup]="orderSearchForm">
          <div class="row align-items-center">

            <div class="form-group col-3">
              <mat-form-field>
                <input (keydown.enter)="findOrders()" matInput [matDatepicker]="picker1" placeholder="From" formControlName="poCreatedAfter" name="orderCreationDateFrom"/>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-group col-3">
              <mat-form-field>
                <input (keydown.enter)="findOrders()" matInput [matDatepicker]="picker2" placeholder="To" formControlName="poCreatedBefore" name="orderCreationDateTo"/>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-group col-3">
              <select formControlName="paymentStatus" data-filter="model" class="filter-model filter form-control">
                <option value="" [selected]="true">Payment Status</option>
                <option *ngFor="let payStatus of paymentStatus" [value]="payStatus.value">{{payStatus.label}}</option>
              </select>
            </div>
            <div class="form-group col-3">
              <select formControlName="paymentMeans" data-filter="model" class="filter-model filter form-control">
                <option value="" [selected]="true">Payment Method</option>
                <option *ngFor="let payMean of paymentMeans" [value]="payMean.value">{{payMean.label}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <input class="form-control" (keydown.enter)="findOrders()" formControlName="customerNameCSV" type="text" placeholder="Customer name" />
            </div>
            <div class="form-group col-3">
              <input class="form-control" (keydown.enter)="findOrders()" formControlName="purchaseOrderIdCSV" type="text" placeholder="PO Id" />
            </div>
            <div class="form-group col-3 ">
              <button type="button" class="btn btn-block btn-primary" (click)="findOrders()"><fa-icon icon="search"></fa-icon></button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table *ngIf="orderMatTable?.data?.length >0" mat-table [dataSource]="orderMatTable" class="mat-elevation-z8">
      <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef> Order Id </th>
        <td mat-cell *matCellDef="let order"> {{ order.id }} </td>
      </ng-container>
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let order"> {{order.customerName}} </td>
      </ng-container>
      <ng-container matColumnDef="vessel">
        <th mat-header-cell *matHeaderCellDef> Vessel</th>
        <td mat-cell *matCellDef="let order"> {{order.vessel}} </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let order"> {{order.orderCreationDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="paymentStatus">
        <th mat-header-cell *matHeaderCellDef> Payment Status </th>
        <td mat-cell *matCellDef="let order"> {{ order.paymentStatus }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let order">
          <mat-select>
            <mat-option (click)="viewOrder(order.id)">View</mat-option>
            <mat-option (click)="editPO(order)">Edit Purchase order</mat-option>
            <mat-option (click)="createDeliveryNote(order.id, order.customerId)">Create Delivery Note</mat-option>
          </mat-select>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
<!--      <thead>
      <tr>
        <th>Customer name</th>
        <th>Order creation date</th>
        <th>Order Id</th>
        <th>Payment Status</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of ordersTableData$ | async" [shAttachMenu]="orderListMenu" [shMenuData]="order">
        <td>{{ order.customerName }}</td>
        <td>{{ order.orderCreationDate | date }}</td>
        <td>{{ order.id }}</td>
        <td>{{ order.paymentStatus }}</td>
        <td class="text-center">
          <button mat-stroked-button color="primary" (click)="viewOrder(order.id)" class="mr-3 mb-1"><fa-icon icon="eye"></fa-icon></button>
          <button mat-stroked-button color="primary" (click)="createDeliveryNote(order.id, order.customerId)" class="mr-3 mb-1">Create delivery note</button>
        </td>
      </tr>
      </tbody>-->
    </table>
    <mat-paginator
      [length]="5000"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<sh-context-menu #orderListMenu>
  <ng-template shContextMenuItem (click)="viewOrder($event.data.id)">
    <div>view purchase order details</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="createDeliveryNote($event.data.id, $event.data.customerId)">
    <div>Create delivery note</div>
  </ng-template>

</sh-context-menu>
