<form class="form-horizontal" [formGroup]="customerForm">
  <h2>Add customer</h2>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label">Name</label>
    <div class="col-md-4">
      <input formControlName="name" name="textinput" type="text"  class="form-control input-md" required="">

    </div>
  </div>

  <app-contact [formGroup]="customerForm" [arrayName]="'contacts'"></app-contact>
  <app-address formTitle="Billing Address" [formGroup]="customerForm" [groupName]="'billingAddress'"></app-address>
  <app-address formTitle="Location" [formGroup]="customerForm" [groupName]="'location'"></app-address>
  <app-ship formTitle="Delivery Information" [formGroup]="customerForm" [arrayName]="'deliveryInformations'"></app-ship>

  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="saveCustomer()">save</button>
    </div>
  </div>
</form>
