<form class="form-horizontal" [formGroup]="customerForm">
  <legend>Add customer</legend>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label">Phone number</label>
    <div class="col-md-4">
      <input  name="textinput" type="text"  class="form-control input-md">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label">Name</label>
    <div class="col-md-4">
      <input  name="textinput" type="text"  class="form-control input-md" required="">

    </div>
  </div>

  <!-- Text input-->
  <div class="form-group">
    <label class="col-md-4 control-label">Email</label>
    <div class="col-md-4">
      <input  name="textinput" type="text"  class="form-control input-md" required="">

    </div>
  </div>

  <app-address [formGroup]="customerForm" [formGroupName]="'billingAddress'"></app-address>
  <app-address *ngFor="let deliveryAddress of myForm.get('deliveryAddress').controls; let i=index" [formGroup]="customerForm" [formGroupName]="'deliveryAddress'"></app-address>
  <div class="form-group">
    <label class="col-md-4 control-label" for="singlebutton"></label>
    <div class="col-md-4">
      <button id="singlebutton" name="singlebutton" class="btn btn-primary" (click)="saveCustomer()">save</button>
    </div>
  </div>
</form>
