<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="userService.isUserLoggedIn()">
  <a class="navbar-brand" href="#">Avinato Billing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/products" class="nav-link" href="#">Products</a>
      </li>
      <li class="nav-item">
        <a routerLink="/customers" class="nav-link" href="#">
          Customers<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/purchase-orders" class="nav-link" href="#">Orders</a>
      </li>
      <li class="nav-item">
        <a routerLink="/delivery-notes" class="nav-link" href="#">Delivery notes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/bills" class="nav-link" href="#">Bills</a>
      </li>

    </ul>
  </div>
  <div class="navbar-collapse dual-collapse2">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          connected as: {{userService.getConnectedUser()}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/settings" href="#">settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()" href="#"><i class="fa fa-power-off"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
