<div class="row">

  <div class="col-12">
    <h5 *ngIf="bill != undefined">Bill</h5>
    <div class="row">
      <div class="col-8" *ngIf="bill != undefined">
        <div class="card">
          <div class="card-header">
            Bill Details
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-4">
                <p>Bill n° {{ (bill)?.id }}</p>
                <p>Deadline: {{ (bill)?.deadLine | date }}</p>
                <p>Creation Date: {{ (bill)?.creationDate | date }}</p>
              </div>
              <div class="col-8">
                <p>Our Signatory: {{ (bill)?.ourSignatory }} <span *ngIf="true">({{ (bill)?.ourSignatoryFunction }})</span></p>
                <p>Customer Signatory: {{ (bill)?.customerSignatory }} <span *ngIf="true">({{ (bill)?.customerSignatoryFunction }})</span></p>
                <p>Impacted Account: {{ (bill)?.impactedAccount.bankName }} -<br> {{ (bill)?.impactedAccount.reference }} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4" *ngIf="deliveryNote$ != undefined">
        <h3 *ngIf="bill == undefined">Delivery Note</h3>
        <div class="card">
          <div class="card-header">
            Note Details
          </div>
          <div class="card-body">
            <p>Note n° {{ (deliveryNote$ |async)?.id }}</p>
            <p>Created on {{ (deliveryNote$ |async)?.creationDate |date }}</p>
            <p>Delivery date: {{ (deliveryNote$ |async)?.deliveryDate |date }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-12 mb-3">
    <div class="row">
      <div class="col-3">
        <h4 *ngIf="!title">Purchase Order</h4>
        <h4 *ngIf="title">{{title}}</h4>
      </div>
      <div class="col-9 text-right" *ngIf="!title">
        <button mat-flat-button color="primary" (click)="createDeliveryNote()" class="mr-3 mb-1">Create delivery note</button>
      </div>
    </div>
  </div>
  <div class="col-12 align-elmts">
    <div class="card">
      <div class="card-header">
        PO Details
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <h6>Delivery Information</h6>
            <p>Vessel: {{ (purchaseOrder$|async)?.deliveryInformation.vessel }}</p>
            <p>Imo: {{(purchaseOrder$|async)?.deliveryInformation.imo}}</p>
            <p>Flag: {{(purchaseOrder$|async)?.deliveryInformation.flag}}</p>
            <p>Master: {{(purchaseOrder$|async)?.deliveryInformation.master }}</p>
          </div>
          <div class="col-4">
            <h6>References</h6>
            <p>Our Ref° {{(purchaseOrder$|async)?.id}}</p>
            <p>Customer Ref° {{(purchaseOrder$|async)?.poNumber}}</p>
            <p>Created on {{(purchaseOrder$|async)?.creationDate |date }}</p>
            <p>Currency: {{(purchaseOrder$|async)?.paymentInformation.currency.label }} ({{(purchaseOrder$|async)?.paymentInformation.currency.symbol }})</p>
          </div>
          <div class="col-4">
            <h6>Payment Info</h6>
            <p>Payment Status: {{(purchaseOrder$|async)?.paymentInformation.paymentStatus }}</p>
            <p>Payment Method: {{(purchaseOrder$|async)?.paymentInformation.paymentMethod }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <h5>Items</h5>
    <table class="table table-bordered">
      <thead>

      <th>Product Name</th>
      <th class="text-right">Description</th>
      <th class="text-right">Quantity</th>
      <th class="text-right">Price</th>
      <th class="text-right">Amount</th>

      </thead>
      <tbody>
      <tr *ngFor="let item of (items$ |async)">
        <td>{{ item.productName }}</td>
        <td class="text-right">{{ item.description }}</td>
        <td class="text-right">{{ item.quantity }} {{item.unitOfMeasurement?.symbol}}</td>
        <td class="text-right">{{ item.unit }} </td>
        <td class="text-right">{{ item.amount }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>SUB TOTAL</td>
        <td colspan="4" class="text-right">{{(purchaseOrder$|async)?.totalAmount}} <span *ngIf="bill == undefined">{{(purchaseOrder$|async)?.paymentInformation.currency.symbol}}</span></td>
      </tr>
      <tr *ngIf="bill != undefined && bill.discount != 0">
        <td></td>
        <td></td>
        <td></td>
        <td>DISCOUNT {{bill?.discount}} %</td>
        <td colspan="4" class="text-right">{{(purchaseOrder$|async)?.totalAmount * this.bill.discount /100}}</td>
      </tr>
      <tr *ngIf="bill != undefined">
        <td></td>
        <td></td>
        <td></td>
        <td>TOTAL AMOUNT</td>
        <td colspan="4" class="text-right">{{(purchaseOrder$|async)?.totalAmount * (100 - this.bill.discount)/100 }}</td>
      </tr>
      <tr *ngIf="bill != undefined && bill.deliveryFee != 0 ">
        <td></td>
        <td></td>
        <td></td>
        <td>DELIVERY FEE</td>
        <td colspan="4" class="text-right">{{bill?.deliveryFee}}</td>
      </tr>
      <tr *ngIf="bill != undefined && bill.transportationFee != 0">
        <td></td>
        <td></td>
        <td></td>
        <td>TRANSPORTATION FEE</td>
        <td colspan="4" class="text-right">{{bill?.transportationFee}}</td>
      </tr>
      <tr *ngIf="bill != undefined">
        <td></td>
        <td></td>
        <td></td>
        <td>NET TOTAL</td>
        <td colspan="4" class="text-right">{{(purchaseOrder$|async)?.totalAmount * (100 - this.bill.discount)/100 + bill.transportationFee + bill.deliveryFee}} {{(purchaseOrder$|async)?.paymentInformation.currency.symbol}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
