<div class="row">
  <div class="col-12">
    <h2>Delivery Notes</h2>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12" id="search">

            <form id="search-form" [formGroup]="delNotesSearchForm">
              <div class="row align-items-center">

                <div class="form-group col-3">
                  <mat-form-field>
                    <input (keydown.enter)="findNotes()" matInput [matDatepicker]="picker1" placeholder="Note created after" formControlName="noteCreatedAfter" name="orderCreationDateFrom"/>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-3">
                  <mat-form-field>
                    <input (keydown.enter)="findNotes()" matInput [matDatepicker]="picker2" placeholder="Note created before" formControlName="noteCreatedBefore" name="orderCreationDateTo"/>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="form-group col-3">
                  <mat-form-field>
                    <input (keydown.enter)="findNotes()" matInput [matDatepicker]="picker3" placeholder="PO created after" formControlName="poCreatedAfter" name="orderCreationDateFrom"/>
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-3">
                  <mat-form-field>
                    <input (keydown.enter)="findNotes()" matInput [matDatepicker]="picker4" placeholder="PO created before" formControlName="poCreatedBefore" name="orderCreationDateTo"/>
                    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="form-group col-3">
                  <mat-form-field>
                    <input (keydown.enter)="findNotes()" matInput [matDatepicker]="picker5" placeholder="To be deliver after" formControlName="toBeDeliveredAfter" name="orderCreationDateFrom"/>
                    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                    <mat-datepicker #picker5></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-group col-3">
                  <mat-form-field>
                    <input (keydown.enter)="findNotes()" matInput [matDatepicker]="picker6" placeholder="To be deliver before" formControlName="toBeDeliveredBefore" name="orderCreationDateTo"/>
                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                    <mat-datepicker #picker6></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="form-group col-3">
                  <select formControlName="paymentStatus" data-filter="model" class="filter-model filter form-control">
                    <option value="" [selected]="true">Payment Status</option>
                    <option *ngFor="let payStatus of paymentStatus" [value]="payStatus.value">{{payStatus.label}}</option>
                  </select>
                </div>


                <div class="form-group col-3">
                  <select formControlName="paymentMeans" data-filter="model" class="filter-model filter form-control">
                    <option value="" [selected]="true">Payment Method</option>
                    <option *ngFor="let payMean of paymentMethod" [value]="payMean.value">{{payMean.label}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-3">
                  <input (keydown.enter)="findNotes()" class="form-control" formControlName="customerNameCSV" type="text" placeholder="Customer name" />
                </div>
                <div class="form-group col-3">
                  <input (keydown.enter)="findNotes()" class="form-control" formControlName="noteIdCSV" type="text" placeholder="Note Id" />
                </div>
                <div class="form-group col-3">
                  <input (keydown.enter)="findNotes()" class="form-control" formControlName="purchaseOrderIdCSV" type="text" placeholder="PO Id" />
                </div>
                <div class="form-group col-3 ">
                  <button type="button" class="btn btn-block btn-primary" (click)="findNotes()"><fa-icon icon="search"></fa-icon></button>
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12" *ngIf="customer$">
    <p>Delivery notes for customer : <b>{{(customer$ |async)?.name}}</b></p>
  </div>
  <div class="col-12">
    <table mat-table [dataSource]="delNoteMatTable" *ngIf=" delNoteMatTable?.data?.length >0 " class="mat-elevation-z8">
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef> Delivery Note Id </th>
        <td mat-cell *matCellDef="let deliveryNote"> {{deliveryNote.deliveryNoteId}} </td>
      </ng-container>
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let deliveryNote"> {{deliveryNote.customerName}} </td>
      </ng-container>
      <ng-container matColumnDef="vessel">
        <th mat-header-cell *matHeaderCellDef> Vessel </th>
        <td mat-cell *matCellDef="let deliveryNote"> {{deliveryNote.vessel}} </td>
      </ng-container>

      <ng-container matColumnDef="po">
        <th mat-header-cell *matHeaderCellDef> PO </th>
        <td mat-cell *matCellDef="let deliveryNote"> {{deliveryNote.purchaseOrderId}} </td>
      </ng-container>
      <ng-container matColumnDef="deliveryDate">
        <th mat-header-cell *matHeaderCellDef> Delivery Date </th>
        <td mat-cell *matCellDef="let deliveryNote"> {{deliveryNote.deliveryDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef> Creation Date </th>
        <td mat-cell *matCellDef="let deliveryNote"> {{deliveryNote.creationDate | date}} </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let deliveryNote">
          <mat-select>
            <mat-option (click)="viewDeliveryNote(deliveryNote.deliveryNoteId)">View</mat-option>
            <mat-option (click)="createBill(deliveryNote.deliveryNoteId)">Create Bill</mat-option>
            <mat-option (click)="generateDeliveryNote(deliveryNote.deliveryNoteId)">Generate Delivery Note</mat-option>

          </mat-select>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [length]="5000"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<sh-context-menu #deliveryNoteMenu>
  <ng-template shContextMenuItem (click)="viewDeliveryNote($event.data.deliveryNoteId)">
    <div>View delivery Note</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="createBill($event.data.deliveryNoteId)">
    <div>Create bill</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="generateDeliveryNote($event.data.deliveryNoteId)">
    <div>Generate Delivery Note</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="sendBillByEmail($event.data.deliveryNoteId)">
    <div>Send Delivery Note by Email</div>
  </ng-template>
</sh-context-menu>

<!--
<td>
  <button type="button" (click)="generateDeliveryNote(deliveryNoteId)">generate delivery note</button>
  <button type="button" (click)="sendBillByEmail(deliveryNoteId)">send delivery note by email (pdf)</button>
</td>-->
