<div class="row product-view">
  <div class="col-12">
    <h5>Product: {{ product.name }}</h5>
  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h6>Allowed unit of measurement</h6>
      </div>
      <div class="col-12">
        <mat-chip-list #chipList aria-label="unit of measure selection">
          <mat-chip
            *ngFor="let uom of product.uomSet"
            [selectable]="false"
            [removable]="false">
            {{uom.label}} ({{uom.symbol}})
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

  </div>
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h6>Categories</h6>
      </div>
      <div class="col-12">
        <mat-chip-list #chipList aria-label="Category">
          <mat-chip
            *ngFor="let category of product.categories"
            [selectable]="false"
            [removable]="false">
            {{category.label}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>

  </div>
  <div class="col-12">
    <h6>Prices</h6>
  </div>
  <div class="col-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <td>Label</td>
        <td>Value</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let price of product.prices">
        <td>{{ price.label }}</td>
        <td>{{ price.value }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
