<div class="row">
  <div class="col-12">
    <h3>Add User</h3>
  </div>
  <div class="col-12">
    <form [formGroup]="addUserForm" *ngIf="addUserForm">
      <div class="row">
        <div class="col-4">
          <mat-form-field>
            <input matInput formControlName="username" placeholder="Username">
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <input matInput formControlName="email" type="email" placeholder="email">
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <input matInput formControlName="phoneNumber" type="number" placeholder="Phone number">
          </mat-form-field>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <mat-slide-toggle formControlName="active">Activate user</mat-slide-toggle>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-select [compareWith]="compareId" matTooltip="User with the same function will have the same roles... you can add a specific role to a user without impacting the function" placeholder="Function" formControlName="profile">
                  <mat-option *ngFor="let profile of availableProfiles" [value]="profile"> {{profile?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field>
                <mat-select [compareWith]="compareId" placeholder="Roles" formControlName="roles" multiple>
                  <mat-option *ngFor="let role of availableRoles" [value]="role"> {{role?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-12" *ngIf="addUserForm?.controls['roles']?.value?.length > 0">
              <p>Selected roles:</p>
              <mat-chip-list>
                <mat-chip *ngFor="let role of addUserForm.controls['roles'].value">{{role.name}} </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-12">
    <button mat-flat-button color="primary" (click)="addUser()">Register</button>
  </div>
</div>
