<table style="width:100%" border="1">
  <tr>
    <th>Customer name</th>
    <th>location country</th>
    <th>actions</th>
  </tr>
  <tr *ngFor='let customer of customerList$ | async'>
    <td>{{customer.name}}</td>
    <td>{{customer.location.country}}</td>
    <td>
      <button type="button" (click)="createPurchaseOrder(customer.id)">create purchase order</button>
      <button type="button" (click)="goToPurchaseOrdersPage(customer.id)">purchase orders</button>
      <button type="button" (click)="goToBillsPage(customer.id)">bills</button>
    </td>
  </tr>
</table>
