<div class="row page-header">
  <div class="col-2">
    <h2 *ngIf="!dialogData.dialogMode">Customers </h2>
  </div>
  <div class="col-10 text-right" *ngIf="!dialogData.dialogMode">
    <button type="button" routerLink="/customers/add" mat-flat-button color="primary"><fa-icon icon="plus"></fa-icon> Add customer</button>
  </div>
</div>

<div class="row">
  <div class="col-12" id="search">

    <form id="search-form" [formGroup]="customerSearchForm">
      <div class="row">
        <div class="form-group col-9">
          <input (keydown.enter)="findCustomer()" class="form-control" formControlName="customerNameCSV" type="text" placeholder="Search" />
        </div>
        <div class="form-group col-3">
          <button type="button" class="btn btn-block btn-primary" (click)="findCustomer()"><fa-icon icon="search"></fa-icon></button>
        </div>
      </div>
    </form>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <table *ngIf="customerMatTable?.data?.length >0" mat-table [dataSource]="customerMatTable" class="mat-elevation-z8">

      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef> Customer Name </th>
        <td mat-cell *matCellDef="let customer"> {{customer.name}} </td>
      </ng-container>
      <ng-container matColumnDef="customerDescription">
        <th mat-header-cell *matHeaderCellDef> Customer Description </th>
        <td mat-cell *matCellDef="let customer"> {{customer.description}} </td>
      </ng-container>
      <ng-container matColumnDef="locationCountry">
        <th mat-header-cell *matHeaderCellDef> Location country </th>
        <td mat-cell *matCellDef="let customer"> {{customer.locationCountry}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let customer">
          <mat-select>
            <mat-option *ngIf="!dialogData.dialogMode" (click)="goToCustomerViewInfo(customer.id)">View</mat-option>
            <mat-option *ngIf="!dialogData.dialogMode" (click)="createPurchaseOrder(customer.id)">Create purchase order</mat-option>
            <mat-option *ngIf="!dialogData.dialogMode" (click)="goToPurchaseOrdersPage(customer.id)">Linked purchase orders</mat-option>
            <mat-option *ngIf="!dialogData.dialogMode" (click)="goToBillsPage(customer.id)">Linked Bills</mat-option>
            <mat-option *ngIf="!dialogData.dialogMode" (click)="goToDeliveryNotePage(customer.id)">Linked Delivery Notes</mat-option>
            <mat-option *ngIf="dialogData.dialogMode && cartService.selectedCustomer == undefined" (click)="cartService.selectedCustomer = customer">Select customer</mat-option>
            <mat-option *ngIf="dialogData.dialogMode && cartService.selectedCustomer != undefined && cartService.selectedCustomer.id == customer.id" (click)="cartService.selectedCustomer = undefined">Remove customer</mat-option>

          </mat-select>
        </td>
      </ng-container>
<!--      <thead>
      <tr>
        <th>Customer name</th>
        <th>Location country</th>
        <th class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let customer of customerTableData$ | async' [shAttachMenu]="customerListMenu" [shMenuData]="customer">
        <td>{{customer.name}}</td>
        <td>{{customer.locationCountry}}</td>
        <td class="text-center" *ngIf="!dialogData.dialogMode">
          <button mat-stroked-button color="primary" class="mr-1" (click)="goToCustomerViewInfo(customer.id)"><fa-icon icon="eye"></fa-icon></button>
          <button mat-stroked-button color="primary" class="mr-1" (click)="createPurchaseOrder(customer.id)"></button>
          <button mat-stroked-button color="primary" class="mr-1" (click)="goToPurchaseOrdersPage(customer.id)"></button>
          <button mat-stroked-button color="primary" class="mr-1" (click)="goToBillsPage(customer.id)">bills</button>
          <button mat-stroked-button color="primary" (click)="goToDeliveryNotePage(customer.id)">delivery notes</button>
        </td>
        <td *ngIf="dialogData.dialogMode">
          <button mat-stroked-button *ngIf="dialogData.dialogMode && cartService.selectedCustomer == undefined" color="primary" (click)="cartService.selectedCustomer = customer">select customer</button>
          <button mat-stroked-button *ngIf="dialogData.dialogMode && cartService.selectedCustomer != undefined && cartService.selectedCustomer.id == customer.id" color="warn" (click)="cartService.selectedCustomer = undefined">remove customer</button>
        </td>
      </tr>
      </tbody>-->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator
      [length]="5000"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>

<sh-context-menu #customerListMenu>
  <ng-template shContextMenuItem let-data (click)="goToCustomerViewInfo($event.data.id)">
    <div>view {{data.name}} info</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="createPurchaseOrder($event.data.id)">
    <div>Create purchase order</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="goToPurchaseOrdersPage($event.data.id)">
    <div>Purchase orders</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="goToBillsPage($event.data.id)">
    <div>Bills</div>
  </ng-template>
  <ng-template shContextMenuItem (click)="goToDeliveryNotePage($event.data.id)">
    <div>Delivery notes</div>
  </ng-template>
</sh-context-menu>
