<ngx-spinner bdColor = "rgba(0, 0, 0, 0)" size = "medium" color = "#5E5FFF" type = "square-jelly-box" [fullScreen] = "true"><p style="color: #5E5FFF" > Loading... </p></ngx-spinner>

<div class="row" *ngIf="show">
  <div class="col-12 mb-3">
    <div class="row">
      <div class="col-3">
        <h3>Customer</h3>
      </div>
      <div class="col-9 text-right">
        <button mat-flat-button color="primary" class="mr-1" (click)="createPurchaseOrder()">create purchase order</button>
        <button mat-flat-button color="primary" class="mr-1" (click)="goToPurchaseOrdersPage()">purchase orders</button>
        <button mat-flat-button color="primary" class="mr-1" (click)="goToBillsPage()">bills</button>
        <button mat-flat-button color="primary" (click)="goToDeliveryNotePage()">delivery notes</button>
      </div>
    </div>
    <p>Name: {{currentCustomer.name}} <span class="edit-name" (click)="editName()">(edit name)</span></p>

  </div>
  <div class="col-12 mb-3">
    <h4>Contacts</h4>
    <div class="row">
      <div class="col-3 mr-3" *ngFor="let contact of currentCustomer?.contacts">
        <app-view-contact [(contact)]="contact" [customerId]="currentCustomer.id"></app-view-contact>
      </div>
      <div class="col-3">
        <div data-toggle="modal" [attr.data-target]="'#editContactModal_'+currentCustomer?.id+currentCustomer?.contacts?.length" (click)="addContact()" class="card add-card-button add-contact" style="width: 18rem;">
          <div class="card-body text-center vertical-align">
            <fa-icon icon="plus"></fa-icon>
            <p>Add contact</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <h4>Addresses</h4>
    <div class="row">
      <div class="col-3 mr-3">
        <app-view-address title="Billing Address" [(address)]="currentCustomer.billingAddress" [customerId]="currentCustomer.id"></app-view-address>
      </div>
      <div class="col-3 mr-3">
        <app-view-address title="Location Address" [(address)]="currentCustomer.location" [customerId]="currentCustomer.id"></app-view-address>
      </div>
    </div>
  </div>

</div>

<app-modal  [contentId]="'editContactModal_'+currentCustomer?.id+currentCustomer?.contacts?.length" [withFooter]="true" (modalSaved)="updateContact()">
<!--  <form class="form-horizontal" [formGroup]="addressEditForm.form">
    <app-contact [contact]="" [formGroup]="addressEditForm.form" [groupName]="'contact'" ></app-contact>
  </form>-->
  <form class="form-horizontal" [formGroup]="contactEditForm.form">
    <app-contact [formGroup]="contactEditForm.form" [groupName]="'contacts'" ></app-contact>
  </form>
</app-modal>

<div class="modal fade"
     id="generic-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="generic-modal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button mat-flat-button color="warn" type="button" data-dismiss="modal">Close</button>
        <button mat-stroked-button color="primary" type="button" data-dismiss="modal" (click)="editSelectedProduct()">Save</button>
      </div>
    </div>
  </div>
</div>



