<div class="row">
  <div class="col-12">
    <h3>Add a Group</h3>
    <form class="form-horizontal" [formGroup]="linkedProductGroupForm">
      <div class="row d-flex h-100 align-items-center">
        <div class="col-4">
          <mat-form-field>
            <input matInput formControlName="label" placeholder="Name"
                   class="form-control input-md" required="">
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field>
            <input matInput formControlName="symbol" placeholder="Description"
                   class="form-control input-md" required="">
          </mat-form-field>
        </div>

        <div class="col-4">
            <mat-checkbox formControlName="multiSelect">Is this a multi select group ?</mat-checkbox>
        </div>
        <div class="col-12">
          <button mat-stroked-button color="primary" type="button" (click)="saveProductGroup()">Save Products Group</button>
        </div>
      </div>

    </form>
  </div>
  <div class="col-12" *ngIf="showList">
    <group-list [groupDataSource]="groupDataSource"></group-list>
  </div>

</div>
