<div class="row">
  <div class="col-12">
    <form [formGroup]="creditNoteFormGroup">
      <mat-form-field>
        <input matInput stplaceholder="Credited Amount" formControlName="creditedAmount" step="0.01" type="number" name="creditedAmount"/>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Net to be deducted" formControlName="netToBeDeducted" step="0.01" type="number" name="netToBeDeducted"/>
      </mat-form-field>

      <button mat-stroked-button color="primary" type="button" (click)="saveCreditNote()">Validate credit</button>
    </form>
  </div>
</div>

