<div class="row">
  <div class="col-12">
    <h2>Generate delivery note</h2>
  </div>
  <div class="col-12">
    <form [formGroup]="deliveryNoteForm">
      <div class="row">
        <div class="col-12">

          <div class="col-6">
            <mat-form-field>
              <input [errorStateMatcher]="matcher" matInput [matDatepicker]="picker1" placeholder="Delivery Date" formControlName="deliveryDate"/>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="deliveryNoteForm.controls['deliveryDate'].touched && deliveryNoteForm.controls['deliveryDate'].errors?.required">
                Delivery Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>


        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-select [errorStateMatcher]="matcher" [compareWith]="compareFunction" placeholder="Our registered Signatory" formControlName="ourSignatoryObject">
                  <mat-option *ngFor="let user of (users$| async)" [value]="user">{{user.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6"></div>
            <div class="col-6">
              <mat-form-field>
                <input [errorStateMatcher]="matcher" matInput placeholder="Our Signatory" formControlName="ourSignatory"/>
                <mat-error *ngIf="deliveryNoteForm.controls['ourSignatory'].touched && deliveryNoteForm.controls['ourSignatory'].errors?.required">
                  Our Signatory is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <input [errorStateMatcher]="matcher"  matInput placeholder="Our Signatory Function" formControlName="ourSignatoryFunction"/>
                <mat-error *ngIf="deliveryNoteForm.controls['ourSignatoryFunction'].touched && deliveryNoteForm.controls['ourSignatoryFunction'].errors?.required">
                  Our Signatory Function is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <input [errorStateMatcher]="matcher" matInput placeholder="Customer Signatory" formControlName="customerSignatory" type="text"/>
                <mat-error *ngIf="deliveryNoteForm.controls['customerSignatory'].touched && deliveryNoteForm.controls['customerSignatory'].errors?.required">
                  Customer Signatory is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field>
                <input [errorStateMatcher]="matcher" matInput placeholder="Customer Signatory Function" formControlName="customerSignatoryFunction" type="text"/>
                <mat-error *ngIf="deliveryNoteForm.controls['customerSignatoryFunction'].touched && deliveryNoteForm.controls['customerSignatoryFunction'].errors?.required">
                  Customer Signatory Function is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-12">
          <button mat-flat-button color="primary" type="button" (click)="saveDeliveryNote()">save delivery note</button>
        </div>
      </div>
    </form>
  </div>
</div>


