<div class="row">
  <div class="col-12">
    <h2>Generate delivery note</h2>
  </div>
  <div class="col-12">
    <form [formGroup]="deliveryNoteForm">
      <div class="row">
        <div class="col-12">

          <div class="col-6">
            <mat-form-field>
              <input [errorStateMatcher]="matcher" matInput [matDatepicker]="picker1" placeholder="Delivery Date" formControlName="deliveryDate"/>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="deliveryNoteForm.controls['deliveryDate'].touched && deliveryNoteForm.controls['deliveryDate'].errors?.required">
                Delivery Date is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>


        </div>
        <div class="col-12">
          <button mat-flat-button color="primary" type="button" (click)="saveDeliveryNote()">save delivery note</button>
        </div>
      </div>
    </form>
  </div>
</div>


