<div [(formGroup)]="formGroup" *ngIf="!isArrayForm">
  <h3>{{formTitle}}</h3>
  <div [formGroupName]="groupName">
    <div class="form-group">
      <label class="col-md-4 control-label">street</label>
      <div class="col-md-4">
        <input formControlName="street" name="textinput" type="text"  class="form-control input-md">
      </div>
    </div>

    <div  class="form-group">
      <label class="col-md-4 control-label">City</label>
      <div class="col-md-4">
        <input formControlName="city" name="textinput" type="text"  class="form-control input-md">
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">zipCode</label>
      <div class="col-md-4">
        <input name="textinput" type="text"  class="form-control input-md">

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">state</label>
      <div class="col-md-4">
        <input  name="textinput" type="text"  class="form-control input-md">

      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Country</label>
      <div class="col-md-4">
        <input name="textinput" type="text"  class="form-control input-md">

      </div>
    </div>
  </div>
</div>


<div [(formGroup)]="formGroup" *ngIf="isArrayForm">
  <h3>{{formTitle}}</h3>
  <div [formArrayName]="arrayName">

    <div *ngFor="let address of formGroup.controls[arrayName].controls; let i=index">
      <span>Address {{i + 1}}</span>
      <div [formGroupName]="i">
        <div class="form-group">
          <label class="col-md-4 control-label">street</label>
          <div class="col-md-4">
            <input formControlName="street" name="textinput" type="text"  class="form-control input-md">
          </div>
        </div>

        <div  class="form-group">
          <label class="col-md-4 control-label">City</label>
          <div class="col-md-4">
            <input formControlName="city" name="textinput" type="text"  class="form-control input-md">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">zipCode</label>
          <div class="col-md-4">
            <input name="textinput" type="text"  class="form-control input-md">

          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">state</label>
          <div class="col-md-4">
            <input  name="textinput" type="text"  class="form-control input-md">

          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Country</label>
          <div class="col-md-4">
            <input name="textinput" type="text"  class="form-control input-md">

          </div>
        </div>
      </div>
      <div>

        <span *ngIf="formGroup.controls[arrayName].controls.length > 1"
              (click)="removeAddress(i)">
                </span>
      </div>
    </div>

  </div>
  <button
    (click)="addAddress()">add address
  </button>
</div>
